<section class="card bg-info px-5 py-5">
    <div class="d-flex justify-content-center bd-highlight mb-3">
       <h1 class="p-2 bd-highlight">Our Mission</h1>
    </div>
<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h5>End Terror</h5>
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Terrorists trained in Pakistan with the connivance of the Pakistani State have unleashed a wave of terror against India including its neighbors, and against its own people. Thousands have died in terrorist attacks. Friends of India worldwide have resolved to put an end to terror perpetrated by terrorists sponsored by the Pakistani state.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h5>Jai Jawan Jai Kisan</h5>
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        Valor of Jawans are what legends are made of. But Indian Armed Forces are the lowest paid army in the entire world. The Indian Jawans keep sacrificing their lives to keep the country safe selflessly. Similarly, the Indian farmer has fed the country of billion plus during the most turbulent of the times. However, many farmers are committing suicides. The Friends of India have resolved to mobilize the diaspora to lend a helping hand especially to the families of those who have sacrificed their lives for India, the soldier and the farmer alike.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <h5>Enduring Freedom</h5>
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Mahatma Gandhi had said that conversion is violence. Billions of dollars are being poured in India to covert the poor and the helpless by fraud. This goes against the grain of freedom of religion. While upholding the constitutional right of propagating the religion and an individual’s right to convert, the Friends of India oppose the fraudulent methods of conversion by use of money-power.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingfour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapseTwo">
            <h5>End Bias</h5>
        </button>
      </h5>
    </div>
    <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordion">
      <div class="card-body">
        When India sends a spacecraft to Mars, a leading world daily caricatures it with a poor man in a dhoti with his cow. Media in the West is still under the colonial hangover. It retains the biases and the prejudices that it acquired during the colonial period. Friends of India have resolved to end the media bias against India in world media.
      </div>
    </div>
  </div>
</div>
</section>
