<section>
    <div class="d-flex justify-content-center bd-highlight mb-3 bg-white">
       <h2 class="p-2 bd-highlight">VOICES OF COURAGE</h2>
    </div>
    <div class="card-group card"> 
        <div class="card">
            <img class="card-img-top img-fluid img-thumbnail" src="../../assets/img/shastri_jai_jawan_jai_kisan-1.png" alt="Shri Lal Bahadur Shashtri">
            <div class="card-body">
                <h5 class="card-title">A Vision for the Nation</h5>
                <p class="card-text">“In this vast country of ours, people profess different religions, speak different languages, dress differently and observe different customs; but we are one nation; the history of our struggle for independence and our faith in our future development are our common bonds.”</p>      
                <h6 class="quote_title">Lal Bahadur Shastri</h6>
                <span class="quote_subtitle">Second Prime Minister of India</span>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top img-fluid img-thumbnail" src="../../assets/img/Dr-B-K-Agnihotri.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Poorna Swaraj for Tibet</h5>
                <p class="card-text">The imperial designs of Communist China are evident; the institutional mechanism now exists for formerly free countries that are now occupied to regain their independence: the Western world secured the autonomy of Kosovo.&nbsp; The world should not let Tibet be decimated today—tomorrow others may be victims of China.&nbsp; Future generations will not forget if the present generation does not engage in a strategy to limit Chinese power now by ensuring that Tibet is free.</p>
                <h6 class="quote_title">Bhishma K. Agnihotri</h6>
                <span class="quote_subtitle">International President, FISI</span>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top img-fluid img-thumbnail" src="../../assets/img/Mahatma_Gandhi.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Why Should I Change My Religion?</h5>
                <p class="card-text">I hold that proselytisation under the cloak of humanitarian work is unhealthy to say the least. It is most resented by people here. Religion after all is a deeply personal thing. It touches the heart.&nbsp;Why should I change my religion because the doctor who professes Christianity as his religion has cured me of some disease, or why should the doctor expect me to change whilst I am under his influence? (Young India: April 23, 1931)</p>
                <h6 class="quote_title">Mahatma Gandhi</h6>
                <span class="quote_subtitle">Leader of the Non-violent Movement in India</span>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top img-fluid img-thumbnail" src="../../assets/img/Stephen_pound.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">On BBC calling 26/11 Mumbai attackers as “bombers”</h5>
                <p class="card-text">“This is the worst sort of mealy mouthed posturing. It is desperation to avoid causing offence which ultimately causes more offence to everyone. The terrorist term is universal.&nbsp;The result is innocent victims slaughtered in restaurants by men brandishing machine guns. They are terrorists and the BBC should call them that.”</p>
                <h6 class="quote_title">Stephen Pound</h6>
                <span class="quote_subtitle">British Parliamentarian</span>
            </div>
        </div>  
    </div>    
</section>    