<nav id="sidebar">
  <div class="sidebar-header">
    <img src="assets/img/logo.png" class="img-fluid"/>
  </div>
  <ul class="list-unstyled components">
    <p><a href="index.php">Dashboard</a></p>
    <li class="active">            
      <a href="#articleSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="fa fa-clipboard"></i> Articles
      </a>
      <ul class="collapse list-unstyled" id="articleSubmenu">
        <li><a href="admin/articles">List</a></li>
        <li><a href="admin/article">Add New</a></li>            
      </ul>
    </li>
    <li>
      <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="fa fa-clipboard"></i> Pages
      </a>
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li><a href="admin/pages">List</a></li>
        <li><a href="admin/page">Add New</a></li>            
      </ul>
    </li>
    <li>
      <a href="#pressSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="fa fa-newspaper"></i> Press Releases
      </a>
      <ul class="collapse list-unstyled" id="pressSubmenu">
        <li><a href="admin/presses">List</a></li>
        <li><a href="admin/press">Add New</a></li>            
      </ul>
    </li>
    <li>
      <a href="#userSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="fa fa-users"></i> Users
      </a>
      <ul class="collapse list-unstyled" id="userSubmenu">
        <li><a href="admin/users">List</a></li>
        <li><a href="admin/user">Add New</a></li>            
      </ul>
    </li>       
  </ul>
  <ul class="list-unstyled CTAs">
    <li><a href="#" class="btn btn-raised btn-info">Logouot <i class="fa fa-sign-out-alt"></i></a></li>       
  </ul>
</nav>