<section>
    <div class="container bg-white">
      <div class="d-flex justify-content-center bd-highlight mb-3">
          <h2 class="p-2 bd-highlight">Welcome to FISI, UK</h2>
      </div>        
      <div class="row">
          <div class="col-lg-12">
              <ul>
                <li>
                    <p><strong>Introduction</strong> 
                    <p class="text-justify">Friends of India society International (FISI) was established in april 1976 following the imposition of the State of Emergency and suspensmn of democracy by the then Prime Minister Mrs Indira Gandhi on 25 June 1975. This year the movement is celebrating 40 years of existence.</p> 
                    <p class="text-justify">FISI is a non-profit, international, non-governmental organisation (NGO) which seeks to provide a network of committed and competent.Individuals spread all over the world to promote India its membership comprises people of Indian origin living outside India and the chief objective of FISI was to bring together committed democrats and opinion formers in the United Kingdom and elsewhere to create an international forum to campaign for restoration of democracy in India, as well as freedom of speech and human rights which had all been suspended under the “State of Emergency" FISI worked on strengthening the unity of Indians living abroad and lobbied several parliamentarians and decision makers as well as the press & media to highlight the difficult conditions prevailing in India.</p> 
                    <p class="text-justify">FISI is not affiliated to any political party. It is vigorously committed; to maintaining its independence and believes in taking an objective approach to issues. We believe in developing good relations with people in India and abroad and to that extent it is a forum where subjects of mutual interest are discussed. We aim to provide a platform to voice our concern wherever or whenever the rights of indian people are being challenged and plan our actions accordingly.</p>
                </li>
                <li>
                    <p><strong>Objectives</strong><br/>
                     <ul>
                       <li>Maintain and strengthen friendly relations between the people of India and the rest of the humanity</li>
                       <li>Act as a non-governmental channel of communication between India and other countries to promote and 
                  protect international human rights</li>
                       <li>Meet and honour individual Indians for their achievements as well as highlight India’s global contribution to culture, sports, politics, economics, sciences and other notable fields</li>
                       <li>Discuss and debate matters concerning the people of India and of Indian origin living either at home or in any part of the world, to help them in case of need or distress</li>
                     </ul> 
                </li>
                <li>
                    <p><strong>Activities</strong>
                    <ul>
                      <li>FISI’s activities reflect a commitment to accomplish its objectives. Over the last 40 years FISI has held numerous conferences and seminars to further its objectives. Prominent politicians, academics and ideologists have participated in organised meetings and maintained contact with the organisation including The Indian High Commissioner & Deputy High Commissioner, Chairman of the Jewish Community, TUC officials and ethnic press representatives.</li>
                      <li>Activities have included a one day seminar at the London School of Economics on the liberalisation of India's Economy in 1992, Enumerous functions and lectures with distinguished visitors from India who have Visited UK such as Shri L.K. Advani, Late Shri Kidar Nath Sahani, Late Shri Dattopant Thengadi, Shri Narendra Modi, Late Shri Ashok Singhal, Late Professor Rajendra Singh, Shri Ashok Chowgule & Shri Dr Nagendra.</li>
                      <li>We have also hosted charity events to raise funds for humanitarian projects in India. Funds have been raised for education and health programmes; aid families of policemen and soldier who were killed in action; provide artificial limbs through the “Enabled the Disabled" project; emergency aid directed towards earthquake and flood relief.</li>
                      <li>Having a voice that can be heard at home and on the international stage is important.FISI is active in lobbying various British and European politicians on matters to promote a better appreciation of India‘s position on various issues. A number of press statements have also been circulated on a wide range of subjects. We have expressed opinions from local anti—Indian issues to broader topics including interference by foreign countries in India‘s internal affairs, the human rights record and oppression of Indian people in Pakistan & Bangladesh, and bringing to light the issue of Kashmir as an integral part of India.</li>
                      <li>The tendency of the western press to project India and Indians in a tarnished manner has now reduced, but this has only changed after persistent campaigns to correct biased reporting by putting into perspective numerous cases with counteracting facts. To facilitate the broadcasting of these issues, FISI is able to publish literature to distribute for public information as the need arises.</li>
                      <li>Part of the role of FISI remains to lobby and act as a pressure group for local UK issues and international relations. FISI continues to be of great importance since it is an impartial organisation that continues to be vocal, particularly on anti-India disputes. We currently have a small dedicated nucleus of members involved in achieving FISI’s aims and are always on the lookout for more volunteers who could assist in our efforts</li>
                    </ul>
                </li>
              </ul>                
          </div>      
      </div>    
    </div> 
  </section>   